In [5]:
# %pip install pandas

import pandas as pd
import numpy as np


# columns_to_keep = ['#time', 'x-momentum', 'y-momentum', 'mass']
df = pd.read_table("ejecta_number_flat_3d.dat", sep="\s+")

In [7]:
df.head()

,1,120,0,2,120.1,0.1,3,120.2,0.3,4,...,0.75,5,120.4,0.95,6,120.5,1.05,7,120.6,1.2
0,1,160,0.10,2,160,0.65,3,160,1.10,4,...,1.40,5,160,1.55,6,160,1.95,7,160,2.30
1,1,200,0.40,2,200,1.10,3,200,1.40,4,...,2.35,5,200,3.20,6,200,4.25,7,200,5.25
2,1,240,0.75,2,240,1.55,3,240,3.40,4,...,4.65,5,240,6.15,6,240,7.75,7,240,8.95
3,1,280,1.00,2,280,2.95,3,280,4.60,4,...,7.45,5,280,9.45,6,280,11.30,7,280,14.25
4,1,320,1.35,2,320,3.40,3,320,5.85,4,...,9.60,5,320,13.10,6,320,16.55,7,320,19.70